# RabbitMQ
RABBITMQ_URL=amqp://rabbitmq

# MongoDB
MONGODB_URI=mongodb://mongo:27017/tasks

# Gmail SMTP for notification-service
EMAIL_USER=thirusmart54@gmail.com
EMAIL_PASS=mxce mvqr dxtz uxeo
EMAIL_TO=thirusmart54@gmail.com
